@model Rolled_metal_products.Models.Product
﻿
<style>
    .card-img-top {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
    }
</style>

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ', '_')">
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222;">
        <div class="card-body px-3 pt-3 pb-1">
            <div class="text-center">
                <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@($"{WC.ImagePath}{Model.ImageName}")" alt="Card" />
                <label class="h5">@Model.Name</label>
            </div>
            <hr />
            <div style="font-size: 13px; min-height: 70px;">
                @if (Model.Width.HasValue)
                {
                    <div><strong>Ширина:</strong> @Model.Width?.ToString()</div>
                }
                @if (Model.Diameter.HasValue)
                {
                    <div><strong>Диаметр:</strong> @Model.Diameter?.ToString()</div>
                }
                @if (Model.Thickness.HasValue)
                {
                    <div><strong>Толщина:</strong> @Model.Thickness?.ToString()</div>
                }
                @if (Model.ExternalDiameter.HasValue)
                {
                    <div><strong>Наружный диаметр:</strong> @Model.ExternalDiameter?.ToString()</div>
                }
                @if (!string.IsNullOrEmpty(Model.Standard))
                {
                    <div><strong>ГОСТ:</strong> @Model.Standard</div>
                }
                @if (!string.IsNullOrEmpty(Model.TypeOfAlloy))
                {
                    <div><strong>Тип сплава:</strong> @Model.TypeOfAlloy</div>
                }
                @if (!string.IsNullOrEmpty(Model.Stamp))
                {
                    <div><strong>Марка:</strong> @Model.Stamp</div>
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <strong>Цена:</strong>
                </div>
                <div class="col-6 text-right">
                    <span class="text-info h5">@Model.Price?.ToString("C")</span>
                    @if (Model.OldPrice.HasValue)
                    {
                        <span class="text-muted h6" style="text-decoration: line-through;">@Model.OldPrice?.ToString("C")</span>
                    }
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Подробнее</a>
            </div>
        </div>
    </div>
</div>
