@model IEnumerable<Rolled_metal_products.Models.ViewModels.ProductVM>

<div class="row" id="products-list">
    @foreach (var item in Model)
    {
        <div class="col-md-4 product-item mb-4" data-product-id="@item.Product.Id">
            <div class="card h-100">
                <div class="card-header p-0" style="height: 200px; overflow: hidden;">
                    <a asp-action="ProductDetails" asp-controller="Catalog" asp-route-id="@item.Product.Id">
                        <img src="@WC.ImagePath@item.Product.ImageName" class="card-img-top" alt="@item.Product.Name" style="height: 100%; width: 100%; object-fit: cover;">
                    </a>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <h6 class="card-title">@item.Product.Name</h6>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            @foreach (var characteristic in item.Product.ProductParameters)
                            {
                                <div class="col-6">
                                    <p class="mb-1" style="font-size: 0.875rem;"><strong>@characteristic.Name:</strong></p>
                                </div>
                                <div class="col-6 text-end">
                                    <p class="mb-1" style="font-size: 0.875rem;">@characteristic.Value</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h5">@item.Product.Price.ToString("C")</span>
                            @if (item.Product.OldPrice != null)
                            {
                                <span class="text-muted text-decoration-line-through">@item.Product.OldPrice?.ToString("C")</span>
                            }
                        </div>
                        @if (item.ExistsInCart)
                        {
                            <button class="btn btn-danger remove-from-cart" data-product-id="@item.Product.Id" style="padding: 6px 40px;">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary add-to-cart" data-product-id="@item.Product.Id" style="padding: 6px 40px;">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>


