@model IEnumerable<Rolled_metal_products.Models.CallbackRequest>

@{
    ViewData["Title"] = "Запросы на звонок";
    int index = 1;
}


<style>
   
</style>


<div class="container p-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary fw-bold">Звонки</h2>
        </div>
    </div>

    </br>
    @if (Model.Count() > 0)
    {
        <div class="table-responsive shadow">
            <table class="table table-borderless table-striped table-hover table-reflow" style="margin-bottom: 0px;">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="text-align:center">#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Text</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" style="text-align:center" width="5%">@index</th>
                            <td width="25%">@item.Name</td>
                            <td width="25%">@item.Email</td>
                            <td width="10%">@item.PhoneNumber</td>
                            <td width="15%">@item.Text</td>
                            <td width="15%">@item.Date</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-danger mx-2 mod-btn" asp-action="Delete" asp-controller="" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p> Звонков нет.</p>
    }
</div>