@model Rolled_metal_products.Models.ViewModels.CategoryDetailsVM
@{
    ViewData["Title"] = "Детали категории";
    int indexSubCategory = 1;
    int indexProduct = 1;
}

<style>
    .mod-btn {
        padding: 12px 22px 12px 22px;
    }
</style>


<div class="container p-3">
    <div class="row">
        <div class="col">
            <h2 class="text-primary fw-bold" style="margin-bottom: 50px;">Информация о категории</h2>
        </div>

        <div class="col-12 mb-2">
            <div class="card shadow">
                <div class="row g-0">
                    <div class="col-md-2">
                        @if (Model.Category.ImageId == null)
                        {
                            <img id="imagePreview" src="@WC.NoImagePath" class="img-fluid rounded-start" alt="@Model.Category.Name" style="width: 100%; height: 170px; object-fit: cover;" />
                        }
                        else
                        {
                            <img id="imagePreview" src="@Url.Action("GetImage", "Image", new { imgId = Model.Category.ImageId })" class="img-fluid rounded-start" alt="@Model.Category.Name" style="width: 100%; height: 170px; object-fit: cover;" />
                        }
                    </div>
                    <div class="col-md-7 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@Model.Category.Name</h5>
                            <p class="card-text">Порядок: @Model.Category.DisplayOrder</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-center mb-3 mt-3">
                        <div class="d-flex flex-column">
                            <a class="btn btn-primary shadow mx-2 mb-4 btn-sm" style="min-width:200px;" asp-action="Edit" asp-controller="Category" asp-route-id="@Model.Category.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать категорию">
                                <i class="fa-solid fa-pen-to-square"></i> Редактировать
                            </a>
                            <a class="btn btn-danger shadow mx-2 btn-sm" style="min-width:200px;" asp-action="Delete" asp-controller="Category" asp-route-id="@Model.Category.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить категорию">
                                <i class="fa-solid fa-trash"></i> Удалить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary fw-bold" style="margin-bottom: 0px;">Товары</h2>
        </div>
        <div class="col-4 d-flex justify-content-end">
            @if (!Model.Category.SubCategories.Any())
            {
                <a class="btn btn-success btn-create shadow" asp-action="Create" asp-controller="Product" asp-route-categoryId="@Model.Category.Id">
                    <i class="fa-solid fa-plus"></i><span class="btn-text">&nbsp; Добавить товар</span>
                </a>
            }
        </div>
    </div>
    <br />
    @if(!Model.Category.SubCategories.Any())
    {
        @if (Model.Products != null && Model.Products.Any())
        {
            <div class="table-responsive shadow">
                <table class="table table-borderless table-striped table-hover table-reflow" style="margin-bottom: 0px;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                            <th>
                                Название
                            </th>
                            <th>
                                Цена
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subCategory in Model.Products)
                        {
                            <tr>
                                <th scope="row" style="text-align:center" width="5%">@indexProduct</th>
                                <td width="50%">@subCategory.Name</td>
                                <td width="50%">@subCategory.Price.ToString("C")</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary mx-2" asp-action="Edit" asp-controller="Product" asp-route-id="@subCategory.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать товар">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-danger mx-2" asp-action="Delete" asp-controller="Product" asp-route-id="@subCategory.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить товар">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            indexProduct++;
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Товаров нет</p>
        }
    }
    else
    {
        <p>Данная категория является родительской! К ней нельзя добавить товар.</p>
    }

    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-primary fw-bold" style="margin-bottom: 0px;">Под-категории</h2>
        </div>
        @if (!Model.Products.Any())
        {
            <div class="col-4 d-flex justify-content-end">
                <a class="btn btn-success btn-create shadow" asp-action="Create" asp-controller="Category" asp-route-parentId="@Model.Category.Id">
                    <i class="fa-solid fa-plus"></i><span class="btn-text">&nbsp; Добавить под-категорию</span>
                </a>
            </div>
        }
    </div>
    <br />   <br />
    @if (!Model.Products.Any())
    {
        @if (Model.Category.SubCategories != null && Model.Category.SubCategories.Any())
        {
            <div class="table-responsive shadow">
                <table class="table table-borderless table-striped table-hover table-reflow" style="margin-bottom: 0px;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align:center">#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.DisplayOrder)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var subCategory in Model.Category.SubCategories)
                        {
                            <tr>
                                <th scope="row" style="text-align:center" width="5%">@indexSubCategory</th>
                                <td width="50%">@subCategory.Name</td>
                                <td width="10%">@subCategory.DisplayOrder</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-primary mx-2 mod-btn" asp-action="Edit" asp-controller="Category" asp-route-id="@subCategory.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать категорию">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-danger mx-2 mod-btn" asp-action="Delete" asp-controller="Category" asp-route-id="@subCategory.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить категорию">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                        <a class="btn btn-info mx-2 mod-btn" asp-action="Details" asp-controller="Category" asp-route-id="@subCategory.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Подробнее">
                                            <i class="fa-solid fa-info-circle"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                            indexSubCategory++;
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Подкатегорий нет</p>
        }
    }
    else
    {
        <p>Данная категория имеет товары! К ней нельзя добавить покатегорию.</p>
    }

    <br />

    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            @if (Model.Category.ParentId != null)
            {
                <a class="btn btn-primary shadow btn-sm" asp-action="Details" asp-controller="Category" asp-route-id="@Model.Category.ParentId">
                    <i class="fas fa-sign-out-alt"></i> Назад
                </a>
            }
            else
            {
                <a class="btn btn-primary shadow btn-sm" asp-action="Index" asp-controller="Category">
                    <i class="fas fa-sign-out-alt"></i> Назад
                </a>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
    </script>
    <script>
        function validateProduct() {
            Swal.fire({
                title: "Ошибка!",
                text: "У данной категории есть подкатегории! Добавьте товары к одной из подкатегорий!",
                icon: "error"
            });
            return false;
        }

        function validateCategory() {
            Swal.fire({
                title: "Ошибка!",
                text: "У данной категории есть товары!",
                icon: "error"
            });
            return false;
        }
    </script>
}
