@model Rolled_metal_products.Models.ViewModels.CreateCategoryVM


@{
    var title = "Редактирование категории";
    ViewData["Title"] = title;
}

<style>
    .form-group {
        padding: 10px;
    }

    .param-input {
        margin-bottom: 20px;
    }

    .btn-delete-parametr {
        border-radius: 0 1rem 1rem 0;
    }
</style>

<style>
    .custom-img {
        width: 70%;
        border-radius: 5px;
        border: 1px solid #bbb;
        height: fit-content;
    }

    .btn-block {
        padding: 0px 5px 0px 5px;
    }

        .btn-block .btn {
            padding: 9px 10px 9px 10px;
        }
</style>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container py-3">
        <input asp-for="Category.Id" hidden></input>
        @if (Model.Category.ParentId != null)
        {
            title = "Редактирование подкатегории";
            <input asp-for="Category.ParentId" hidden></input>
        }
        <div class="p-3">
            <div class="form-group row">
                <h2 class="text-info pl-3 fw-bold">@title</h2>
            </div>
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12 col-md-8 order-2 order-md-1 mb-3">
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label asp-for="Category.Name"></label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Category.Name" class="form-control" />
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label asp-for="Category.DisplayOrder"></label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Category.DisplayOrder" class="form-control" />
                            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            Изображение
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Параметры категории</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <div id="parameters">
                                @for (int i = 0; i < Model.Parameters.Count; i++)
                                {
                                    <input type="hidden" name="Parameters[@i].CategoryId" value="@Model.Parameters[i].CategoryId" />
                                    <input type="hidden" name="Parameters[@i].Id" value="@Model.Parameters[i].Id" />
                                    <div class="input-group mb-2">
                                        <input type="text" name="Parameters[@i].Name" value="@Model.Parameters[i].Name" class="form-control param-input" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-danger btn-delete-parametr" onclick="removeParameter(this)">Удалить</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button class="btn btn-primary" type="button" onclick="addParameter()">Добавить параметр</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-4 order-1 order-md-2 d-flex justify-content-center">
                    <img id="imagePreview" src="@Url.Action("GetImageCategory", "Image", new { catId = Model.Category.Id })" class="custom-img" />
                </div>
                <div class="col-12 col-md-8 order-3">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-8 d-flex flex-row">
                            <div class="col-6 btn-block">
                                <input type="submit" value="Редактировать" class="btn btn-success w-100" onclick="return validateInput()" />
                            </div>
                            <div class="col-6 btn-block">
                                @if (Model.Category.ParentId != null)
                                {
                                    <a class="btn btn-info w-100" asp-action="Details" asp-controller="Category" asp-route-id="@Model.Category.ParentId">
                                        <i class="fas fa-sign-out-alt"></i> Назад
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Index" class="btn btn-info w-100">
                                        <i class="fas fa-sign-out-alt"></i> Назад
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{


        <partial name="_ValidationScriptsPartial"></partial>


    }

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
    </script>
    <script>
        function validateInput() {
            var paramInputs = document.querySelectorAll("#parameters .param-input");
            for (var i = 0; i < paramInputs.length; i++) {
                if (paramInputs[i].value.trim().length == 0) {
                    Swal.fire({
                        title: "Ошибка!",
                        text: "Все поля параметров должны быть заполнены!",
                        icon: "error"
                    });
                    return false;
                }
            }

            return true;
        }
    </script>


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("img#imagePreview")
                        .attr("src", e.target.result)
                        .addClass("custom-img");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadBox").change(function () {
            readURL(this);
        });
    </script>

    <script>
        function addParameter() {
            var container = document.getElementById("parameters");
            var index = container.children.length / 3; // Каждая группа параметров состоит из 3 элементов: два скрытых поля и один input-group

            var hiddenCategoryId = document.createElement("input");
            hiddenCategoryId.type = "hidden";
            hiddenCategoryId.name = `Parameters[${index}].CategoryId`;
            hiddenCategoryId.value = "0"; // или другое значение по умолчанию

            var hiddenId = document.createElement("input");
            hiddenId.type = "hidden";
            hiddenId.name = `Parameters[${index}].Id`;
            hiddenId.value = "0"; // или другое значение по умолчанию

            var inputGroup = document.createElement("div");
            inputGroup.className = "input-group mb-2";

            var input = document.createElement("input");
            input.type = "text";
            input.name = `Parameters[${index}].Name`;
            input.className = "form-control param-input";

            var inputGroupAppend = document.createElement("div");
            inputGroupAppend.className = "input-group-append";

            var button = document.createElement("button");
            button.type = "button";
            button.className = "btn btn-danger btn-delete-parametr";
            button.innerText = "Удалить";
            button.onclick = function () { removeParameter(button); };

            inputGroup.appendChild(input);
            inputGroupAppend.appendChild(button);
            inputGroup.appendChild(inputGroupAppend);

            container.appendChild(hiddenCategoryId);
            container.appendChild(hiddenId);
            container.appendChild(inputGroup);
        }

        function removeParameter(button) {
            var container = document.getElementById("parameters");
            var inputGroup = button.parentElement.parentElement;

            // Удаляем скрытые поля, связанные с этой группой ввода
            var hiddenCategoryId = inputGroup.previousElementSibling;
            var hiddenId = hiddenCategoryId.previousElementSibling;
            container.removeChild(hiddenCategoryId);
            container.removeChild(hiddenId);

            // Удаляем саму группу ввода
            container.removeChild(inputGroup);

            // Обновляем имена оставшихся полей ввода
            var inputs = container.getElementsByClassName("param-input");
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].name = `Parameters[${i}].Name`;
            }

            var hiddenInputs = container.querySelectorAll("input[type='hidden']");
            var hiddenIndex = 0;
            hiddenInputs.forEach(function (hiddenInput) {
                if (hiddenInput.name.includes("CategoryId")) {
                    hiddenInput.name = `Parameters[${hiddenIndex}].CategoryId`;
                } else if (hiddenInput.name.includes("Id")) {
                    hiddenInput.name = `Parameters[${hiddenIndex}].Id`;
                    hiddenIndex++;
                }
            });
        }
    </script>
}
