@model Rolled_metal_products.Models.ViewModels.CatalogVM
@{
    ViewData["Title"] = "Каталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-create {
        text-align: center;
        line-height: 30px;
    }

    li {
        list-style-type: none;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    .btn-transparent {
        padding: 0;
        box-shadow: none !important;
    }

    .btn-create {
        margin-bottom: 1rem;
    }

    .btn-back { 
        font-size: 0.875rem;
    }

    .custom-link {
        color: inherit;
        text-decoration: none;
    }

        .custom-link:hover {
            color: inherit;
            text-decoration: none;
        }

    .sidebar-parent-category {
        font-size: 16px;
    }

    .sidebar-child-category {
        font-size: 14px;
    }

    .main-parent-category {
        font-size: 16px;
    }

    .main-child-category {
        font-size: 14px;
    }

    .list-group-item {
        border: none;
    }

    .list-group-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 14px;
    }

    .catalog-item-head {
        display: flex;
        align-items: center;
    }

    .image-container {
        display: flex;
        align-items: center;
    }


    .catalog-item {
        /*margin-bottom: 20px;*/
        display: flex;
        align-items: center;
        height: 50px;
    }

    .image-container {
        width: 62px;
        height: 62px;
        margin-right: 10px; 
    }

    .category-image {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid #bbb;
        object-fit: cover;
    }

    .name-container {
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 15px;
    }

    .custom-link {
        text-decoration: none;
        color: inherit;
        font-size: 1.2em; 
    }

    .custom-link.main-parent-category {
        font-size: 1.0em; 
    }

    .catalog-item-body {
        /*margin-top: 10px;*/
        margin-left: 63px;
    }

    .list-group-item {
        padding: 0;
    }

    .sub-category {
        margin-left: 25px;
        font-size: 14px;
    }

    .show-more, .show-less {
        cursor: pointer;
        margin-left: 25px;
        font-size: 14px;
    }

    .breadcrumb-item a {
        color: var(--bs-primary);
    }

</style>


<div class="container p-3" style="min-height: 650px;">
    <div class="row">
        <div class="col-lg-3">
            <div class="mb-3">
                <a class="btn btn-primary shadow btn-sm btn-back" asp-controller="Home" asp-action="Index">Назад</a>
            </div>
            <div class="sidebar-categories">
                <ul class="list-group">
                    @foreach (var item in Model.ParentCategories)
                    {
                        <li class="list-group-item" style="padding: 10px 0px;">
                            <div class="row">
                                <div class="col-10" style="font-weight: 700;width: 70%;">
                                    <a class="custom-link sidebar-parent-category" asp-route-parentId="@item.Id" asp-controller="Catalog" asp-action="Index">@item.Name</a>
                                </div>
                                <div class="col-2 text-end">
                                    <button class="btn btn-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_@item.Id" aria-expanded="false" aria-controls="collapseExample_@item.Id">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                </div>
                            </div>

                            @if (Model.ParentCategoryName == item.Name)
                            {
                                <div class="collapse show" id="collapseExample_@item.Id">
                                    <ul class="list-group list-group-flush" style="padding-top: 10px">
                                        @foreach (var subcat in item.SubCategories)
                                        {
                                            <li class="list-group-item" style="padding: 5px 0px 5px 0px; font-size: 12px;">
                                                <a class="custom-link sidebar-child-category" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="collapse" id="collapseExample_@item.Id">
                                    <ul class="list-group list-group-flush" style="padding-top: 10px">
                                        @foreach (var subcat in item.SubCategories)
                                        {
                                            <li class="list-group-item" style="padding: 5px 0px 5px 0px; font-size: 12px;">
                                                <a class="custom-link sidebar-child-category" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                            }

                            
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Catalog" asp-action="Index">Категории</a>
                    </li>
                    @if (Model.BreadcrumbCategories.Count > 2)
                    {
                        <li class="breadcrumb-item dropdown">
                            <a href="#" class="dropdown-toggle" id="breadcrumbDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</a>
                            <ul class="dropdown-menu" aria-labelledby="breadcrumbDropdown">
                                @foreach (var category in Model.BreadcrumbCategories.Take(Model.BreadcrumbCategories.Count - 1))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-route-parentId="@category.Id" asp-controller="Catalog" asp-action="Index">@category.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.BreadcrumbCategories.Last().Name</li>
                    }
                    else
                    {
                        @foreach (var category in Model.BreadcrumbCategories)
                        {
                            if (category == Model.BreadcrumbCategories.Last())
                            {
                                <li class="breadcrumb-item active" aria-current="page">@category.Name</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item">
                                    <a asp-route-parentId="@category.Id" style="color: #1b6ec2;" asp-controller="Catalog" asp-action="Index">@category.Name</a>
                                </li>
                            }
                        }
                    }
                </ol>
            </nav>
            <h1 class="title title_page fw-bold" style="margin-bottom: 30px;">
                @Model.ParentCategoryName
            </h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                @foreach (var item in Model.ChildCategories)
                {
                    <div class="col mb-4 category-col">
                        <div class="catalog-item d-flex align-items-center">
                            <a asp-route-parentId="@item.Id" asp-controller="Catalog" asp-action="Index">
                                <div class="image-container">
                                    <img id="imagePreview" src="@Url.Action("GetImageCategory", "Image", new { catId = @item.Id })" class="category-image" />
                                </div>
                            </a>
                            <div class="name-container d-flex align-items-center">
                                <a class="custom-link main-parent-category fw-bold mb-0s" asp-route-parentId="@item.Id" asp-controller="Catalog" asp-action="Index">@item.Name</a>
                            </div>
                        </div>
                        <div class="catalog-item-body">
                            <ul class="list-group list-group-flush" id="subcat-list-@item.Id">
                                @foreach (var subcat in item.SubCategories.Take(3))
                                {
                                    <li class="list-group-item">
                                        <a class="custom-link sub-category text-muted mb-0" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                                    </li>
                                }
                                @if (item.SubCategories.Count() > 3)
                                {
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);" class="custom-link show-more text-primary" data-item-id="@item.Id">Показать еще</a>
                                    </li>
                                }
                            </ul>
                            <ul class="list-group list-group-flush d-none" id="subcat-list-full-@item.Id">
                                @foreach (var subcat in item.SubCategories)
                                {
                                    <li class="list-group-item">
                                        <a class="custom-link sub-category text-muted mb-0" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                                    </li>
                                }
                                <li class="list-group-item">
                                    <a href="javascript:void(0);" class="custom-link show-less text-primary" data-item-id="@item.Id">Скрыть</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.show-more').forEach(function (button) {
            button.addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                document.getElementById('subcat-list-' + itemId).classList.add('d-none');
                document.getElementById('subcat-list-full-' + itemId).classList.remove('d-none');
            });
        });

        document.querySelectorAll('.show-less').forEach(function (button) {
            button.addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                document.getElementById('subcat-list-' + itemId).classList.remove('d-none');
                document.getElementById('subcat-list-full-' + itemId).classList.add('d-none');
            });
        });
    });
</script>
