@model Rolled_metal_products.Models.ViewModels.DetailsVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .product-title-wrapper .product-title {
        margin-bottom: 10px;
    }

    .product-pricing-wrapper {
        margin-bottom: 20px;
    }

    .current-price {
        font-size: 20px;
        font-weight: bold;
        color: #00b779;
        margin-right: 10px;
    }

    .old-price {
        font-size: 16px;
        text-decoration: line-through;
        color: #6c757d;
    }

    .product-specs-header-wrapper .product-specs-header {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .product-specs .spec {
        padding: 5px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .spec-name {
        font-size: 14px;
        color: #6c757d;
    }

    .spec-value {
        font-size: 14px;
        font-style: italic;
    }

    .product-description-wrapper .product-description {
        font-size: 14px;
        margin-top: 20px;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
        border-radius: 20px !important;
    }

    .product-action {
        margin-bottom: 15px;
    }

    .product-rating .badge {
        font-size: 16px;
        padding: 10px;
    }

    .product-title-wrapper {
        margin-bottom: 20px;
    }

    .product-pricing-wrapper {
        margin-bottom: 20px;
    }

    .product-specs {
        margin-bottom: 20px;
    }

    .product-description-wrapper {
        margin-top: 20px;
    }
</style>
<div class="container p-3" style="min-height: 650px;">
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" style="color: #1b6ec2;" asp-action="Index">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Catalog" style="color: #1b6ec2;" asp-action="Index">Категории</a>
                </li>
                @if (Model.BreadcrumbCategories.Count > 2)
                {
                    <li class="breadcrumb-item dropdown">
                        <a href="#" class="dropdown-toggle" id="breadcrumbDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</a>
                        <ul class="dropdown-menu" aria-labelledby="breadcrumbDropdown">
                            @foreach (var category in Model.BreadcrumbCategories.Take(Model.BreadcrumbCategories.Count - 1))
                            {
                                <li>
                                    <a class="dropdown-item" asp-route-parentId="@category.Id" asp-controller="Catalog" asp-action="Index">@category.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="breadcrumb-item" style="color: #1b6ec2;">
                        @Model.BreadcrumbCategories.Last().Name
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @Model.Product.Name
                    </li>
                }
                else
                {
                    @foreach (var category in Model.BreadcrumbCategories)
                    {
                        <li class="breadcrumb-item">
                            <a asp-route-parentId="@category.Id" style="color: #1b6ec2;" asp-controller="Catalog" asp-action="Index">@category.Name</a>
                        </li>
                    }
                    <li class="breadcrumb-item active" aria-current="page">
                        @Model.Product.Name
                    </li>
                }
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="product-image" style="margin-bottom: 40px;">
                    <img src="@Url.Action("GetImage", "Image", new { imgId = Model.Product.ImageId })" alt="Product Image" class="img-fluid rounded" />
                </div>
                <div class="product-action">
                    @if (Model.ExistsInCart)
                    {
                        <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-danger shadow btn-block" style="border-radius: 15px;">Удалить из корзины</a>
                    }
                    else
                    {
                        <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-primary shadow btn-block" style="border-radius: 15px;">Добавить в корзину</button>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="product-title-wrapper mb-3">
                    <h3 class="product-title fw-bold">@Model.Product.Name</h3>
                </div>
                <div class="product-pricing-wrapper mb-4">
                    <span class="current-price">@Model.Product.Price.ToString("C")</span>
                    @if (Model.Product.OldPrice.HasValue)
                    {
                        <span class="old-price">@Model.Product.OldPrice?.ToString("C")</span>
                    }
                </div>
                <div class="row">
                    @if (Model.Product.ProductParameters.Any())
                    {
                        <div class="col-md-4">
                            <section class="product-specs mb-4">
                                <div class="product-specs-header-wrapper">
                                    <h4 class="product-specs-header ref-name">ХАРАКТЕРИСТИКИ</h4>
                                </div>
                                <ul class="list-unstyled">
                                    @foreach (var item in Model.Product.ProductParameters)
                                    {
                                        <li class="spec d-flex justify-content-between">
                                            <div class="spec-name">@item.CategoryParameter.Name:</div>
                                            <div class="spec-value">@item.Value.ToString()</div>
                                        </li>
                                    }
                                </ul>
                            </section>
                        </div>
                    }
                    <div class="col-md-8">
                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <div class="row">
                                <div class="col-4" style="text-align: end;padding: 10px 10px;">
                                    Кол-во:
                                </div>
                                <div class="col-8">
                                    @if (Model.ExistsInCart)
                                    {
                                        <input asp-for="@Model.Product.TempSqFt" disabled class="form-control" style="max-width: 150px;" />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.Product.TempSqFt" class="form-control" style="max-width: 150px;" />
                                    }
                                    <span asp-validation-for="@Model.Product.TempSqFt" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="product-description-wrapper">
                    <p class="product-description">@Html.Raw(Model.Product.Description)</p>
                </div>
            </div>
        </div>
    </form>
</div>

