@model Rolled_metal_products.Models.ViewModels.OrderListVM

@{
    ViewData["Title"] = "Заказы";
}


<style>
    .customcss {
        padding: 10px 0px !important;
    }

    .e-pager .e-currentitem, .e-pager .e-currentitem:hover {
        background: #1b6ec2;
    }
</style>

<div class="container p-3" style="min-height: 650px; position: relative;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary fw-bold">Заказы</h2>
        </div>
    </div>
    <form method="get">
        <div class="bg-white p-3 rounded-3">
            <div class="row">
                <div class="col-12">
                    <div class="row g-3">
                        <div class="col-12 col-md-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Имя..." } })
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Телефон..." } })
                        </div>
                    </div>
                    <div class="row g-3 pt-3">
                        <div class="col-12 col-md-4">
                            @Html.DropDownListFor(u => u.Status, Model.StatusList, "--Order Status--", new { @class = "form-select" })
                        </div>
                        <div class="col-12 col-md-4 offset-md-4">
                            <button type="submit" class="btn btn-primary shadow w-100 h-100">
                                <i class="fas fa-search"></i> Найти
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    

    <br></br>
    <div class="bg-white p-3 shadow">
        <ejs-grid id="Grid" dataSource="@Model.OrderHList" allowFiltering="true" allowSorting="true" allowPaging="true">
            <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
                <e-grid-column field="FullName" headerText="Name" textAlign="Right"></e-grid-column>
                <e-grid-column field="Email" headerText="Email" textAlign="Right"></e-grid-column>
                <e-grid-column field="PhoneNumber" headerText="Phone" textAlign="Right"></e-grid-column>
                <e-grid-column field="OrderStatus" headerText="Status" textAlign="Right"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" customFormat="@(new { type="date", format="MM/dd/yyyy" })" textAlign="Right"></e-grid-column>
                <e-grid-column field="Id" headerText="" width="70" customAttributes=@(new{@class="customcss"})
                               template="<a rel='nofollow' href='Order/Details/${Id}' class='btn btn-primary btn-sm'> <i class='fas fa-list'></i></a>">
                </e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>









   