@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Управление внешними аккаунтами";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<style>
    .btn-loggins {
        width:max-content;
    }
</style>

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <div class="d-flex mb-4">
        <h3 class="text-primary fw-bold">Добавленные логины</h3>
    </div>
    <div class="table-responsive shadow">
        <table class="table table-borderless table-striped table-hover table-reflow" style="margin-bottom: 0px;">
            <tbody>
                @foreach (var login in Model.CurrentLogins)
                {
                    <tr>
                        <td id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName</td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                    <div>
                                        <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                        <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                        <button type="submit" class="btn btn-danger" title="Remove this login from your account"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
   </div>
}


@if (Model.OtherLogins?.Count > 0)
{
    <div class="d-flex mb-4">
        <h3 class="text-primary fw-bold">Добавить другой сервис для входа</h3>
    </div>
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <div class="d-grid gap-2">
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-primary mb-2 btn-loggins shadow" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
            </div>
        </div>
    </form>
}
