@model Rolled_metal_products.Models.ViewModels.ProductVM

@{
    var title = "Добавление товара";
    ViewData["Title"] = title;
}

<style>
    .form-group {
        padding: 10px;
    }
</style>

<form asp-action="Upsert" enctype="multipart/form-data">
    @if (Model.Product.Id != 0 && Model.Product.Id != null)
    {
        title = "Редактировать товар";
        <input asp-for="Product.Id" hidden></input>
    } 
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.OldPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.OldPrice" class="form-control" />
                        <span asp-validation-for="Product.OldPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Изображение
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ImageName" hidden />
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.CategorySelectList" hidden />
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <!-- Кнопки для добавления полей -->
                <div class="form-group row">
                    <div class="col-12">
                        <div class="btn-group" role="group" aria-label="Add Fields">
                            <button type="button" class="btn btn-secondary" onclick="toggleField('widthField', this)">
                                <i class="fa-solid fa-plus"></i> Ширина
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('diameterField', this)">
                                <i class="fa-solid fa-plus"></i> Диаметр
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('thicknessField', this)">
                                <i class="fa-solid fa-plus"></i> Толщина
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('outerDiameterField', this)">
                                <i class="fa-solid fa-plus"></i> Внешний диаметр
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('gostField', this)">
                                <i class="fa-solid fa-plus"></i> ГОСТ
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('markField', this)">
                                <i class="fa-solid fa-plus"></i> Марка
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="toggleField('alloyTypeField', this)">
                                <i class="fa-solid fa-plus"></i> Тип сплава
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Скрытые поля -->
                <div id="widthField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.Width"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Width" class="form-control" />
                        <span asp-validation-for="Product.Width" class="text-danger"></span>
                    </div>
                </div>
                <div id="diameterField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.Diameter"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Diameter" class="form-control" />
                        <span asp-validation-for="Product.Diameter" class="text-danger"></span>
                    </div>
                </div>
                <div id="thicknessField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.Thickness"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Thickness" class="form-control" />
                        <span asp-validation-for="Product.Thickness" class="text-danger"></span>
                    </div>
                </div>
                <div id="outerDiameterField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.ExternalDiameter"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ExternalDiameter" class="form-control" />
                        <span asp-validation-for="Product.ExternalDiameter" class="text-danger"></span>
                    </div>
                </div>
                <div id="gostField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.Standard"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Standard" class="form-control" />
                        <span asp-validation-for="Product.Standard" class="text-danger"></span>
                    </div>
                </div>
                <div id="markField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product.Stamp"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Stamp" class="form-control" />
                        <span asp-validation-for="Product.Stamp" class="text-danger"></span>
                    </div>
                </div>
                <div id="alloyTypeField" class="form-group row" style="display:none;">
                    <div class="col-4">
                        <label asp-for="Product. TypeOfAlloy"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product. TypeOfAlloy" class="form-control" />
                        <span asp-validation-for="Product.TypeOfAlloy" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product.Id != 0 && Model.Product.Id != null)
                            {
                                <input type="submit" value="Редактировать" class="btn btn-primary w-100" />
                            }
                            else
                            {
                                <input type="submit" value="Добавить" class="btn btn-info w-100" onclick="return validateInput()" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">Назад к списку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 offset-1 p-4">
                @if (Model.Product.ImageName == null)
                {
                    <img id="imagePreview" src="@WC.NoImagePath" width="100%" style="border-radius:5px; border: 1px solid #bbb" />
                }
                else
                {
                    <img id="imagePreview" src="@WC.ImagePath@Model.Product.ImageName" width="100%" style="border-radius:5px; border: 1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

    <script>
        $(document).ready(function() {
          $('.summernote').summernote({
            height:250
          });
        });
    </script>
    <script>
        function validateInput() {
            var nme = document.getElementById("uploadBox");
            if(nme.value.length == 0)
            {
                Swal.fire({
                    title: "Error!",
                    text: "Please upload an Image!",
                    icon: "error"
                });
                return false;
            }
            return true;
        }
    </script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("img#imagePreview")
                        .attr("src", e.target.result)
                        .width(200)
                        .height(200);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#uploadBox").change(function () {
            readURL(this);
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Проверка значений полей при загрузке страницы
            checkFieldVisibility('Product_Width', 'widthField');
            checkFieldVisibility('Product_Diameter', 'diameterField');
            checkFieldVisibility('Product_Thickness', 'thicknessField');
            checkFieldVisibility('Product_ExternalDiameter', 'outerDiameterField');
            checkFieldVisibility('Product_Standard', 'gostField');
            checkFieldVisibility('Product_Stamp', 'markField');
            checkFieldVisibility('Product_TypeOfAlloy', 'alloyTypeField');
        });

        function checkFieldVisibility(fieldId, fieldDivId) {
            var field = document.getElementById(fieldId);
            if (field && field.value !== "") {
                document.getElementById(fieldDivId).style.display = 'block';
                updateButtonIcon(fieldDivId, true);
            }
        }

        function toggleField(fieldDivId, button) {
            var fieldDiv = document.getElementById(fieldDivId);
            var isVisible = fieldDiv.style.display === 'block';
            fieldDiv.style.display = isVisible ? 'none' : 'block';
            updateButtonIcon(fieldDivId, !isVisible);
            if (isVisible) {
                resetField(fieldDivId);
            }
        }

        function updateButtonIcon(fieldDivId, isVisible) {
            var button = document.querySelector(`button[onclick*="${fieldDivId}"] i`);
            if (button) {
                button.classList.toggle('fa-plus', !isVisible);
                button.classList.toggle('fa-minus', isVisible);
            }
        }

        function resetField(fieldDivId) {
            var field = document.querySelector(`#${fieldDivId} input`);
            if (field) {
                field.value = '';
            }
        }
    </script>
}

