@model Rolled_metal_products.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Главная";
}
<div class="banner" style="background-image: url('/images/site-content/1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h2 class="display-4 text-white">МЕТАЛЛОПРОДУКЦИЯ</h2>
                <h2 class="display-4 text-white">ПО ВСЕЙ РОССИИ</h2>
            </div>
        </div>
        <div class="row mt-4 align-items-end">
            <div class="col-md-8 mb-3">
                <div class="row mb-2">
                    <h4 class="text-white form-title">Заявка в один клик!</h4>
                </div>
                <div class="row">
                    <form class="quick-request-form d-flex">
                        <input type="text" class="form-control me-2" id="search" placeholder="Я ищу...">
                        <input type="text" class="form-control me-2" id="contact" placeholder="Мои контакты...">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                    @*
                    <form class="d-flex">
                        <input type="text" class="form-control me-2" id="search" placeholder="Я ищу...">
                        <input type="text" class="form-control me-2" id="contact" placeholder="Мои контакты...">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>*@
                </div>
            </div>
            <div class="col-md-4 text-end">
                <div class="contact-info">
                    <h4 class="text-white mb-3"><strong>НАШИ КОНТАКТЫ</strong></h4>
                    <p class="text-white mb-3"><i class="fa-solid fa-phone"></i> +123 456 7890</p>
                    <p class="text-white mb-0"><i class="fa-regular fa-envelope"></i> info@example.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-create {
        text-align: center;
        line-height: 30px;
    }

    li {
        list-style-type: none;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    .btn-transparent {
        padding: 0;
        box-shadow: none !important;
    }

    .btn-create {
        margin-bottom: 1rem;
    }

    .btn-back {
        font-size: 0.875rem;
    }

    .custom-link {
        color: inherit;
        text-decoration: none;
    }

        .custom-link:hover {
            color: inherit;
            text-decoration: none;
        }

    .sidebar-parent-category {
        font-size: 16px;
    }

    .sidebar-child-category {
        font-size: 14px;
    }

    .main-parent-category {
        font-size: 16px;
    }

    .main-child-category {
        font-size: 14px;
    }

    .list-group-item {
        border: none;
    }

    .list-group-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 14px;
    }

    .catalog-item-head {
        display: flex;
        align-items: center;
    }

    .image-container {
        display: flex;
        align-items: center;
    }


    .catalog-item {
        /*margin-bottom: 20px;*/
        display: flex;
        align-items: center;
        height: 50px;
    }

    .image-container {
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }

    .category-image {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid #bbb;
        object-fit: cover;
    }

    .name-container {
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 15px;
    }

    .custom-link {
        text-decoration: none;
        color: inherit;
        font-size: 0.9em;
    }

        .custom-link.main-parent-category {
            font-size: 0.9em;
        }

    .catalog-item-body {
        /*margin-top: 10px;*/
    }

    .list-group-item {
        padding: 0;
    }

    .sub-category {
        margin-left: 82px;
        font-size: 14px;
    }

    .show-more, .show-less {
        cursor: pointer;
        margin-left: 82px;
        font-size: 14px;
    }

</style>

<div class="container pt-5 p-3">
    <div class="row mb-5">
        <a asp-action="Index" asp-controller="Catalog" >
            <h4 class="fw-bold mb-0">Каталог</h4>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        @foreach (var item in Model.Categories)
        {
            <div class="col mb-4 category-col">
                <div class="catalog-item d-flex align-items-center">
                    <a asp-route-parentId="@item.Id" asp-controller="Catalog" asp-action="Index">
                        <div class="image-container">
                            <img id="imagePreview" src="@Url.Action("GetImageCategory", "Image", new { catId = @item.Id })" class="category-image" />
                        </div>
                    </a>
                    <div class="name-container d-flex align-items-center">
                        <a class="custom-link main-parent-category fw-bold mb-0s" asp-route-parentId="@item.Id" asp-controller="Catalog" asp-action="Index">@item.Name</a>
                    </div>
                </div>
                <div class="catalog-item-body">
                    <ul class="list-group list-group-flush" id="subcat-list-@item.Id">
                        @foreach (var subcat in item.SubCategories.Take(3))
                        {
                            <li class="list-group-item">
                                <a class="custom-link sub-category text-muted mb-0" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                            </li>
                        }
                        @if (item.SubCategories.Count() > 3)
                        {
                            <li class="list-group-item">
                                <a href="javascript:void(0);" class="custom-link show-more text-primary" data-item-id="@item.Id">Показать еще</a>
                            </li>
                        }
                    </ul>
                    <ul class="list-group list-group-flush d-none" id="subcat-list-full-@item.Id">
                        @foreach (var subcat in item.SubCategories)
                        {
                            <li class="list-group-item">
                                <a class="custom-link sub-category text-muted mb-0" asp-route-parentId="@subcat.Id" asp-controller="Catalog" asp-action="Index">@subcat.Name</a>
                            </li>
                        }
                        <li class="list-group-item">
                            <a href="javascript:void(0);" class="custom-link show-less text-primary" data-item-id="@item.Id">Скрыть</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.show-more').forEach(function (button) {
            button.addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                document.getElementById('subcat-list-' + itemId).classList.add('d-none');
                document.getElementById('subcat-list-full-' + itemId).classList.remove('d-none');
            });
        });

        document.querySelectorAll('.show-less').forEach(function (button) {
            button.addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                document.getElementById('subcat-list-' + itemId).classList.remove('d-none');
                document.getElementById('subcat-list-full-' + itemId).classList.add('d-none');
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('.quick-request-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const search = document.getElementById('search').value;
            const contact = document.getElementById('contact').value;

            fetch('@Url.Action("QuickRequest", "Home")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': '@Html.AntiForgeryToken()'
                },
                body: JSON.stringify({ search, contact })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Запрос успешно отправлен!');
                        form.reset();
                    } else {
                        alert(data.message || 'Ошибка при отправке запроса.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ошибка при отправке запроса.');
                });
        });
    });

</script>